@import "Imports/normalize.scss";
@import "Imports/fonts.scss";
@import "Imports/variables.scss";


// ===Common===
body{
    background: $color-bg;
}

*{
    box-sizing: border-box;
}

.section-outer{
    padding: {
        left: 20px;
        right: 20px;
    }
}
.section-inner{
    width: 90%;
    margin: 0 auto;
    @media (max-width: $screen-md-max){
        width: 100%;
    }

    @media (min-width: $screen-lg-min){
        width: 80%;
    }
}
// ===/Common===

// ===Header===
.section-header{
    position: relative;
    height: 100vh;

    // ==Navigation Logo Search==
    &-top-bar{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        min-height: 12%;
    }

    &-logo{
        @include fontOpenSansSemiBold;
        font-size: $fontSize-header-logo;
        @media (max-width: $screen-md-max){
            display: none;
        }
    }



    &-nav-and-search{
        position: relative;
        display: flex;
        align-items: baseline;
        @media (max-width: $screen-md-max){
            width: 100%;
        }

        &__nav{
            width: 100%;
            display: flex;
            list-style: none;
            @include fontOpenSansSemiBold;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;
            text-align: center;
            &--li{
                position: relative;
                font-size: $fontSize-header-nav;

                @media (max-width: $screen-md-max){
                    margin: {
                        right: 10px;
                        left: 10px;
                    }
                }

                @media (min-width: $screen-lg-min){
                    margin: {
                        right: 20px;
                        left: 20px;
                    }
                }
            }
        }

        &__search{
            margin: {
                right: 10px;
                left: 10px;
            }
            width: 22px; height: 22px;
        }
    }
    // ==/Navigation Logo Search==

    // ==Slogan Buttons==
    &-content{
        flex-grow: 1;
        position: relative;
        background: url('../Images/header-pic.png') no-repeat 66% 36%;
        background-size: 119%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; min-height: 88%;

        &::after{
            content: '';
            position: absolute;
            top: 0;right: 0;left: 0;bottom: 0;
            background: black;
            opacity: 0.8;
            z-index: 5;
        }
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        &__title{
            @include fontOpenSansSemiBold;
            color: $color-header-text;
            font-size: $fontSize-header-title;
            line-height: 55px;
            text-align: center;

        }

        &__subtitle{
            margin-top: 20px;
            color: $color-header-text;
            font-size: $fontSize-header-subtitle;
            @include fontOpenSans;
            text-align: center;
        }

        &-form{
            display: flex;
            margin-top: 80px;
            &__btn-services{
                background: none;
                @include buttonHeader;
                border: 3px solid white;
            }

            &__btn-hire{
                margin-left: 25px;
                border: none;
                @include buttonHeader;
                background: $color-header-button;

            }
        }
    }
    // ==/Slogan Buttons==
}
// ===Header===

// ===About===
.section-about{
    color: $color-text;
    background: $color-bg;
    .section-inner{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: {
            top: 125px;
            bottom: 125px;
        }
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            @include blockTitle;
        }
        &__subtitle{
            @include blockSubtitle;
        }
    }

    &-content{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin-top: 125px;

        &-feature{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 260px;
            min-height: 200px;

            &:not(:first-child){
                margin-left: 145px;
            }

            &__img{
                width: 65px;
                height: 60px;
            }

            &__title{
                margin-top: 40px;
                text-align: center;
                @include fontOpenSansSemiBold;
                font-size: $fontSize-about-feature-title;
            }
            &__subtitle{
                margin-top: 30px;
                text-align: center;
                @include fontOpenSans;
                word-wrap: break-word;
                font-size: $fontSize-about-feature-subtitle;
            }
        }
    }
}
// ===/About===

// ===Services===
.section-services{
    position: relative;
    background: $color-services-bg;
    color: $color-text;
    .section-inner{
        position: relative;
        padding:{
            top: 175px;
            bottom: 120px;
        }
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            @include blockTitle;
        }
        &__subtitle{
            @include blockSubtitle;
        }
    }

    &-content{
        margin-top: 115px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(440px, auto);

        &-service{
            padding: 50px;
            background: $color-services-service-bg;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: .3s;

            &:hover{
                background: $color-services-service-bg-hover;
                box-shadow: 0 0 30px rgba(0, 0, 0, .5);
            }

            &:hover &__img{
                transition: .3s;
                -webkit-filter: invert(1);
                filter: invert(1);
            }

            &:hover &__title,
            &:hover &__subtitle{
                color: white;
            }
            &:hover &__btn{
                color: white;
                background: $color-services-service-bg-hover;
                border: 3px solid white;
            }
            &__img{
                padding: 0;
                height: 65px;
            }
            &__title{
                margin-top: 40px;
                text-align: center;
                @include fontOpenSansSemiBold;
                color: $color-services-service-title;
                font-size: $fontSize-services-feature-title;
                transition: .3s;
            }
            &__subtitle{
                text-align: center;
                margin-top: 25px;
                @include fontOpenSans;
                // width: 270px;
                color: $color-services-service-subtitle;
                font-size: $fontSize-services-feature-subtitle;
                transition: .3s;
            }
            &__btn{
                margin-top: 50px;
                width: 145px;
                min-height: 50px;
                outline: none;
                background: none;
                border: 3px solid $color-services-service-btn;
                @include fontOpenSansSemiBold;
                color: $color-services-service-btn;
                font-size: $fontSize-services-service-btn;
                transition: .3s;
            }
        }
    }
}
// ===/Services===

// ===Works===
.section-works{
    position: relative;
    .section-inner{
        position: relative;

        padding:{
            top: 130px;
            bottom: 135px;
        }
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            @include blockTitle;
        }
        &__subtitle{
            @include blockSubtitle;
        }
    }

    &-content{
        margin-top: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(370px, auto);
        grid-gap: 30px;
        &-work{
            position: relative;
            overflow: hidden;

            &:hover::after{
                opacity: .6;
            }

            &:hover &-wrapper{
                opacity: 1;
            }

            &::after{
                content: '';
                position: absolute;
                top: 0;bottom: 0;left: 0;right: 0;
                background: black;
                opacity: 0;
                z-index: 6;
                transition: .2s;
            }

            &__img{
                position: absolute;
                background-size: cover;
                background-position: 50% 50%;
                z-index: 5;
                width: 100%;
                height: 100%;
            }



            &-wrapper{
                transition: .2s;
                padding: 20px;
                position: relative;
                height: 100%;
                z-index: 10;
                display: flex;
                opacity: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 10;

                &__title{
                    @include fontOpenSansSemiBold;
                    color: white;
                    font-size: $fontSize-works-work-title;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__subtitle{
                    @include fontOpenSansSemiBold;
                    color: white;
                    font-size: $fontSize-works-work-subtitle;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: 18px;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    &-view_more{
        margin-top: 130px;
        display: flex;
        width: 100%;
        justify-content: center;
        &-btn{
            @include fontRobotoBold;
            font-size: $fontSize-works-btn;
            min-width: 210px;
            background: $color-works-btn-bg;
            outline: none;
            border: 0;
            height: 70px;
            color: $color-works-btn;
        }
    }
}
// ===/Works===
