<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel='stylesheet' href="../CSS/index.css?13">
</head>
<body>
    <!-- ===SECTION HEADER=== -->
    <header class="section-header">
        <div class="section-header-top-bar section-inner section-outer">
            <div class="section-header-logo">LOGO</div>
            <div class="section-header-nav-and-search">
                <nav class="section-header-nav-and-search__nav">
                    <li class="section-header-nav-and-search__nav--li">Home</li>
                    <li class="section-header-nav-and-search__nav--li">About</li>
                    <li class="section-header-nav-and-search__nav--li">Servicing</li>
                    <li class="section-header-nav-and-search__nav--li">Portfolio</li>
                    <li class="section-header-nav-and-search__nav--li">Blog</li>
                    <li class="section-header-nav-and-search__nav--li">Contact us</li>
                </nav>
                <img src='../SVG/loupe.svg' class="section-header-nav-and-search__search">
            </div>
        </div>

        <div class="section-header-content section-outer">
            <div class="section-header-wrapper">
                <div class="section-header-wrapper__title">
                    Web development project
                </div>
                <div class="section-header-wrapper__subtitle">
                    Very suitable to support all web development projects
                </div>
                <div class="section-header-wrapper-form">
                    <button class="section-header-wrapper-form__btn-services">OUR SERVICES</button>
                    <button class="section-header-wrapper-form__btn-hire" id='btn-hire'>HIRE IS NOW</button>
                </div>

            </div>
        </div>
    </header>
    <!-- ===/SECTION HEADER=== -->

    <!-- ===SECTION ABOUT=== -->
    <section class="section-about section-outer">
        <div class="section-inner">
            <div class="section-about-wrapper">
                <div class="section-about-wrapper__title">About Us</div>
                <div class="section-about-wrapper__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div class="section-about-content">
                <div class="section-about-content-feature">
                    <img src='../SVG/internet.svg' class="section-about-content-feature__img">
                    <div class="section-about-content-feature__title">Awesome Icons</div>
                    <div class="section-about-content-feature__subtitle">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                </div>
                <div class="section-about-content-feature">
                    <img src='../SVG/transfer.svg' class="section-about-content-feature__img">
                    <div class="section-about-content-feature__title">One Page</div>
                    <div class="section-about-content-feature__subtitle">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                </div>
                <div class="section-about-content-feature">
                    <img src='../SVG/head.svg' class="section-about-content-feature__img">
                    <div class="section-about-content-feature__title">Fully Responsive</div>
                    <div class="section-about-content-feature__subtitle">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===/SECTION ABOUT=== -->

    <!-- ===SECTION SERVICES=== -->
    <section class="section-services section-outer">
        <div class="section-inner">
            <div class="section-services-wrapper">
                <div class="section-services-wrapper__title">Our Services</div>
                <div class="section-services-wrapper__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>
            <div class="section-services-content">
                <div class="section-services-content-service">
                    <img src='../SVG/smartphone.svg' alt="" class="section-services-content-service__img">
                    <div class="section-services-content-service__title">Research</div>
                    <div class="section-services-content-service__subtitle">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    </div>
                    <button class="section-services-content-service__btn">READ MORE</button>
                </div>

                <div class="section-services-content-service">
                    <img src='../SVG/smartphone.svg' alt="" class="section-services-content-service__img">
                    <div class="section-services-content-service__title">Portfolio</div>
                    <div class="section-services-content-service__subtitle">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    </div>
                    <button class="section-services-content-service__btn">READ MORE</button>
                </div>

                <div class="section-services-content-service">
                    <img src='../SVG/smartphone.svg' alt="" class="section-services-content-service__img">
                    <div class="section-services-content-service__title">Support</div>
                    <div class="section-services-content-service__subtitle">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    </div>
                    <button class="section-services-content-service__btn">READ MORE</button>
                </div>
            </div>
        </div>
    </section>
    <!-- ===/SECTION SERVICES=== -->

    <!-- ===SECTION WORKS=== -->
    <section class="section-works section-outer">
        <div class="section-inner">
            <div class="section-works-wrapper">
                <div class="section-works-wrapper__title">Latest Works</div>
                <div class="section-works-wrapper__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </div>
            </div>

            <div class="section-works-content">
                <div class="section-works-content-work">
                    <img src="../Images/work-img.png" alt="" class="section-works-content-work__img">
                    <div class="section-works-content-work-wrapper">
                        <div class="section-works-content-work-wrapper__title">Hand Watch</div>
                        <div class="section-works-content-work-wrapper__subtitle">ui/ux design</div>
                    </div>
                </div>

                <div class="section-works-content-work">
                    <img src="../Images/work-img.png" alt="" class="section-works-content-work__img">
                    <div class="section-works-content-work-wrapper">
                        <div class="section-works-content-work-wrapper__title">Hand Watch</div>
                        <div class="section-works-content-work-wrapper__subtitle">ui/ux design</div>
                    </div>
                </div>

                <div class="section-works-content-work">
                    <img src="../Images/work-img.png" alt="" class="section-works-content-work__img">
                    <div class="section-works-content-work-wrapper">
                        <div class="section-works-content-work-wrapper__title">Hand Watch</div>
                        <div class="section-works-content-work-wrapper__subtitle">ui/ux design</div>
                    </div>
                </div>

            </div>
            <div class="section-works-view_more">
                <button class="section-works-view_more-btn">VIEW ALL</button>
            </div>
        </div>
    </section>
    <!-- ===/SECTION WORKS=== -->

    <!-- ===SECTION PRICING PLAN=== -->
    <section class="section-pricing_plan section-outer"></section>
    <!-- ===/SECTION PRICING PLAN=== -->

    <!-- ===SECTION TEAM=== -->
    <section class="section-team section-outer"></section>
    <!-- ===/SECTION TEAM=== -->

    <!-- ===SECTION BLOG=== -->
    <section class="section-blog section-outer"></section>
    <!-- ===/SECTION BLOG=== -->

    <!-- ===SECTION CONTACT=== -->
    <section class="section-contact section-outer"></section>
    <!-- ===/SECTION CONTACT=== -->

    <!-- ===SECTION FOOTER=== -->
    <footer class="section-footer section-outer">
        <div class="section-inner"> All rights Reserved © 2017</div> <!--Roboto Bold 20px padding 20px -->
    </footer>
    <!-- ===/SECTION FOOTER=== -->

    <script src='../JS/jquery.min.js?1'></script>
    <script src='../JS/for_buttons.js?2'></script>
</body>
</html>
